[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-darc = {editable = true,path = "."}
autopep8 = "*"
pylint = "*"
ipython = "*"
coverage = "*"
codecov = "*"

[packages]
beautifulsoup4 = {extras = ["html5lib"],version = "*"}
requests = {extras = ["socks"],version = "*"}
requests-futures = "*"
stem = "*"
selenium = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"
