[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-darc = {editable = true,path = ".",extras = ["mysql"]}
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
ipython = "*"
isort = "*"
vermin = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
esbonio = "*"
rstcheck = "*"
Flask = "*"
pydantic = {extras = ["dotenv", "email", "typing_extensions"], version = "*"}
types-redis = "*"

[packages]
beautifulsoup4 = {extras = ["html5lib"],version = "*"}
file-magic = "*"
peewee = "*"
pottery = "*"
psutil = "*"
PyMySQL = {version = "*",extras = ["rsa"]}
python-datauri = "*"
redis = {extras = ['hiredis'],version = "*"}
requests = {extras = ["socks"],version = "*"}
requests-futures = "*"
selenium = "<4"
stem = "*"
typing-extensions = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
