# Python packages
pip==20.0.1
setuptools==45.1.0
wheel==0.33.6

# Python dependencies
beautifulsoup4[html5lib]==4.8.2
certifi==2019.11.28
chardet==3.0.4
html5lib==1.0.1
idna==2.8
pysocks==1.7.1
requests[socks]==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
stem==1.8.0
typing-extensions==3.7.4.1
urllib3==1.25.8
webencodings==0.5.1
