# Python sources
-i https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple
--extra-index-url https://pypi.org/simple

# Python packages
pip==19.3.1
setuptools==42.0.2
wheel==0.33.6

# Python dependencies
beautifulsoup4[html5lib]==4.8.1
certifi==2019.11.28
chardet==3.0.4
html5lib==1.0.1
idna==2.8
pysocks==1.7.1
requests[socks]==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
stem==1.7.1
urllib3==1.25.7
webencodings==0.5.1
