# Python sources
-i https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple
--extra-index-url https://pypi.org/simple

# Python packages
pip==20.1.1
setuptools==47.1.0
wheel==0.34.2

# Python dependencies
beautifulsoup4[html5lib]==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
file-magic==0.4.0
html5lib==1.0.1
idna==2.9
pysocks==1.7.1
python-datauri==0.2.8
requests-futures==1.0.0
requests[socks]==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
stem==1.8.0
typing-extensions==3.7.4.2
urllib3==1.25.9
webencodings==0.5.1
