beautifulsoup4 == 4.14.2
file-magic == 0.4.1
peewee == 3.18.3
pottery == 3.0.1
psutil == 7.1.3
pymysql == 1.1.2
python-datauri == 3.0.2
redis == 7.1.0
requests == 2.32.5
requests-futures == 1.0.2
selenium == 3.141.0
stem == 1.8.2
typing-extensions == 4.15.0
