beautifulsoup4 == 4.12.3
file-magic == 0.4.1
peewee == 3.17.1
pottery == 3.0.0
psutil == 5.9.8
pymysql == 1.1.0
python-datauri == 2.1.0
redis==5.0.3
requests == 2.31.0
requests-futures == 1.0.1
selenium == 4.18.1
stem == 1.8.2
typing-extensions == 4.10.0
